{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">

      <div class="section-content">
        <h3>Web Project Description</h3>
   <p style="text-align: justify;">We have 20 million twitter data of recent years 2017-18 about the health system of US. Its web health informative system in which we etrieve the information about the food habits, per day calorie consumption,current situation of disease as per food habits among people in different states of US. The main goal of this project is to spread awareness among people about the health information in surrounding area</p>
      </div>

      <div class="section-device">
          <img src="1.jpg" name="slide" alt="imageslideshow" width="400" height="400">
        <script type="text/javascript">

<!--
var step=1
function slideit(){
  document.images.slide.src=eval("image"+step+".src")
  if (step<8)
    step++
  else
    step=1
setTimeout("slideit()",2500)
}
slideit();
//-->
</script>
      </div>

      <div class="clearfix"></div>
      </div>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}
