{% extends "layout.html" %}
<-- Loading the CSS file for the content and header -->
{% block content %}
  <main class="hero-section">
    <div class="container">

      <div class="section-content">
         <-- Project features description-->
        <h2>Web Project Description</h2>
        <p style="text-align: justify;">We have 20 million twitter data of recent years 2017-18 about the health system of US. Its web health informative system in which we etrieve the information about the food habits, per day calorie consumption,current situation of disease as per food habits among people in different states of US. The main goal of this project is to spread awareness among people about the health information in surrounding area.</p>
      </div>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}
