{% extends "layout.html" %} {% block content %}
<!-- Retrive the link for the forget password to the relavent email_ID -->
<main class="container signup-section">
  <div class="section-content">
    <h2>Forgot password: </h2>

    <form method="POST" action="/forgot">
      {{ form.hidden_tag() }}

      <div class="form-group">
        {{ form.email.label }} {% if form.email.errors %} {% for error in form.email.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %} {% endif %} {{ form.email }}
      </div>

      <div class="form-group">
        {{ form.password.label }} {% if form.password.errors %} {% for error in form.password.errors %}
        <p class="error-message">{{ error }}</p>
        {% endfor %} {% endif %} {{ form.password }}
      </div>

      {{ form.submit(class="btn-primary") }}

    </form>
  </div>
  <div class="clearfix"></div>
  </div>
</main>
{% endblock %}