{% extends "layout.html" %}

{% block content %}
  <main class="hero-section">
    <div class="container">

      <div class="section-content">
        <h2>How healthy are you ?</h2>
        <p style="text-align: justify;">Want to know more about your lifestyle ?? We can help you to understand your food habits and exercise habbit. Why are you waiting then...</p>
        <a href="{{ url_for('signup') }}" class="btn-primary">Sign up</a>
        <a href="{{ url_for('about') }}" class="btn-secondary">Know more</a>
        <br></br>
        <p>If you are already member, that's great! You are already one step ahead. Let's login and see your health.</p>
        <a href="{{ url_for('login') }}" class="btn-primary">Login</a>
      </div>

      <div class="section-device">
        <img src="static/img/health.png" style="border-style: solid; border-width: 5px; border-color:   #ff8caa">
      </div>

      <div class="clearfix"></div>

    </div>
  </main>
{% endblock %}
