<!DOCTYPE html>
<html>

<head>
  <title>US Food Pattern Analysis for Daibetes</title>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="US Food Pattern" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600" />
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
  <link rel="stylesheet" href="{{ url_for('static',filename='CSS/main.css') }}" />
  <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
</head>

<body>
  <header>
    <center>
      <img src="static/img/logo.png" style="max-height:100px; " alt="Logo" />
    </center>
  </header>

  {% block content %} {% endblock %}

</body>

</html>
